.header__lang-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125em;
  }
}

.header__lang-link:hover {
  opacity: 0.8;
  transition: 0.2s linear;
}