.place__title {
    display: flex;
    align-self: flex-end;
    max-width: 460px;
    font-size: 4.5em;
    line-height: 106%;
    font-weight: 900;
    margin-top: 80px;
    grid-area: title;
    margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 52px;
  }
}

@media screen and (max-width: 768px) {
    .place__title {
      font-size: 2.625em;
      line-height: 110%;
    }
}

@media screen and (min-width: 321px) and (max-width: 700px){
  .place__title {
    margin: auto;
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
    .place__title {
      font-size: 2em;
      line-height: 109%;
      margin-top: 48px;
      padding-left: 16px;
    }
}

@media screen and (min-width: 321px) and (max-width: 700px){
    .place__title:first-of-type{
      margin-top: 54px;
  }