.footer__link {
    color: #ffffff;
    text-decoration: none;
    margin-right: 18px;
    font-size: 1em;
    line-height: 112%;
}

.footer__link:hover {
    opacity: 0.8;
    transition: 0.2s linear;
}