.place__paragraph {
    display: flex;
    max-width: 484px;
    font-size: 1.125em;
    line-height: 167%;
    margin-top: 0;
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .place__paragraph {
      font-size: 1em;
      line-height: 162%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
      font-size: 1em;
      line-height: 162%;
    }
}