.footer__copyright {
    color: #ffffff;
    font-size: 1em;
    line-height: 112%;
    margin-top: 0;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    font-size: 14px;
    
  }
}

@media screen and (max-width: 768px) {
    .footer__copyright {
      padding-right: 24px;
      margin-left: 24px;
      font-size: 14px;
      
    }
}

@media screen and (min-width: 321px) and (max-width: 767px){
    .footer__copyright{
      margin: 16px auto;
      padding-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer__copyright {
      font-size: 14px;
      line-height: 14px;
      width: 100%;
      margin-left: 0;
      margin-top: 16px;
    }
}