.footer__links-item {
    list-style: none;
    display: inline-block;
}
@media screen and (min-width: 321px) and (max-width: 767px){
    .footer__links-item{
      margin-top: 5px;
      margin-bottom: 5px;
    }
}
@media screen and (max-width: 320px) {
    .footer__links-item {
      padding-bottom: 32px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
}